<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            
            <!-- Titolo -->
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            
            <!-- Immagine principale -->
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            
            <!-- Contenuto Markdown completo -->
            <div class="post-content">
              {{ post.content }}
            </div>

            <!-- Dettagli del progetto -->
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>

            <!-- Bottone chiudi -->
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Guide Modals -->
{% for guide in site.guide %}
<div class="portfolio-modal modal fade" id="guideModal-{{ guide.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <h2>{{ guide.title }}</h2>
            <hr class="star-primary">

            <img src="{{ '/img/portfolio/' | append: guide.img | relative_url }}"
                 class="img-responsive img-centered"
                 alt="{{ guide.alt }}">

            <div class="post-content">
              {{ guide.content | markdownify }}
              {% if guide.pdf %}
               <!-- Dettagli del progetto -->
            <ul class="list-inline item-details">
              {% if guide.client %}
              <li>Client:
                <strong>{{ guide.client }}</strong>
              </li>
              {% endif %}
              {% if guide.project-date %}
              <li>Date:
                <strong>{{ guide.project-date }}</strong>
              </li>
              {% endif %}
              {% if guide.category %}
              <li>Service:
                <strong>{{ guide.category }}</strong>
              </li>
              {% endif %}
            </ul>

             <a href="{{ guide.pdf | relative_url }}"
               target="_blank"
               class="btn btn-primary m-2">
               Scarica PDF
               </a>
             {% endif %}
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

